/* Base */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
}


/* Layout */
.weather {
  width: 320px;
  height: 568px;
  background: url(../img/thunderstorm.jpg) 0 0 no-repeat;
  margin: 100px auto;
}

.group {
  padding: 15px;
  border-bottom: 1px solid #b1dafa;
  s
}

.group.week {
  border-bottom: 0px solid ;
}

/* Today */

.today header h3 {
  font-weight: bold;
  float: left;
}

.today {
text-align: right;
}

.hour {
  background: url(../img/icon_sunny.png) center center no-repeat;
  float: left;
  text-align: center;
  width: 58px;
  height: 81px;




}

.hour h4 {
  margin-bottom: 41px;

  /*font-weight: bold;*/
}

.hour.current.rain
  {
    font-weight: bold;
  }

.hour.rain {
  background: url(../img/icon_rain.png) center center no-repeat;
}

.hour.cloudy {
  background: url(../img/icon_cloudy.png) center center no-repeat;
}



/* Now */


.now {
  padding: 60px 0 30px 0;
  text-align: center;
  margin-bottom: 5px;
}

.now h1 {
  font-size: 24px;

}

.now h2 {
  font-size: 72px;
}

.day {
  background: url(../img/icon_sunny.png) center right no-repeat;
  padding: 10px 30px 10px 0px;
  text-align: right;
  clear: both;
}



.day h4 {
  float: left;
}
